body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url(img/cup-togo-regular.svg), auto;
}

.visually-hidden {
  display: none;
}
/* utility class - class for single css property */

.card {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  color: #2b2839;

  background: linear-gradient(rgb(255, 165, 171), rgb(218, 98, 125));
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
